@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the To-Do App</h1>
    <h2 class="text-secondary ">The future of task apps</h2>
    <img src="https://e0.pxfuel.com/wallpapers/220/556/desktop-wallpaper-retrowave-90s-neon.jpg" class="rounded-5"  width="50%"/>

    </div>
